# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = Kyle Salter
	email = ksalter@ucsc.edu
[core]
	excludesfile = /Users/terminull/.gitignore_global
	editor = vim
[push]
	default = simple
